@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}


.imageDiv{
	display: flex;
	justify-content: center;
	background-image: url("jsp/store/img/main_image.jpg");
	
}

.category_wrap{
	width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-top: 2%; 	
	padding: 1% 0%;
}

.category{
	width:50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}


.left-category li{
	display: inline-block;
	margin-right: 1%;	
}

.right-category li{
	display: inline-block;
}

