@charset "UTF-8";

.chattingwrap{ /*채팅과 명단이 포함된 구역*/
	display: flex;
	justify-content: center;
	
}
.connetlistbox{
	width: 15%;
/* 	border: 1px solid #BACEE0;  */
	padding: 10px;
}
.chattingbox{
	width: 35%;
}
.connectbox{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.connectbox .name{
	margin-left: 10px;
}
/*----채팅구역---------*/
.contentbox{
	background-color: #BACEE0;
	height: 700px;
	/*해당 구역크기보다 내용물이 커지면 스크롤 생성*/
	overflow-y:scroll; 
	padding: 20px;
}
/*보낼때----------------*/
.secontent{
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 10px 0px;
}
.secontent .content{
	background-color: #FFEB33;
}

.date{ /*시간*/
	font-size: 2px;
	margin: 0px 6px;
}
.content{ /*내용물*/
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	/* 해당 구역크기보다 내용물이 커지면 
	자동줄바꿈처리 */
	max-width: 70%; /*해당구역크기의 최대사이즈*/
	word-break : break-all;
	font-size: 12px;
}
.alarm{ /*시간*/
	width: 70%; margin:20px auto;
	font-size: 5px;
	text-align: center;
	background-color: #B1C3D5;
	border-radius: 10px;
	
}

.tocontent{
	display: flex;
	justify-content: flex-start;
	margin: 10px 0px;
	
}

.name{
	font-size: 12px;
}
.rcontent{
	margin-left: 8px;
}

.contentdate{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

/*버튼----------------*/
.msgbox{
	width: 100%;
	border: 1px solid #e8e8e8;
	padding: 15px;
	resize: none;
	
}

/*이모티콘 버튼 , 보내기 버튼 있는 구역*/
.chattingbtnbox{
	display: flex;
	justify-content : space-between;
	
}

.sendbtn{
	padding : 10px 10px;
	
	background-color: yellow;
	border: none;
	border-radius: 5px; 
}

/*이모티콘 버튼*/
.emobtn{
	background-color: transparent;
	border: none;
	padding: 10px;
	font-size: 25px;
}

/*드롭다운시 보이는 구역*/
.emolist{
	width: 300px;
	height: 300px;
	overflow-y:scroll; 
}

/*내용물안에 사진이 있으면 배경을 투명으로*/
.emocontent{
	background-color: transparent !important;
}