@charset "UTF-8";

.boardbox{
	width : 80%;
	margin : 70px auto;
}

.boardtop{
	text-align: center;
}

.boardtop .cname{
	font-family: 'LINESeedKR-Bd';
	font-size: 30px;
}

.boardtopetc{
	display: flex;
	justify-content: space-between;
}

.bbtn{
    border: #939393 1px solid;
    background-color : transparent;
/*     background-color: #939393; */
    padding: 2px 10px;
    color: gray;
/*     border-radius: 10px; */
}

.boardcontent{
	margin: 28px 0px;
    border-top: 2px solid #eeeeee;
    padding: 25px 20px 0px 20px;
}

.bdate{
	font-size: 8px;
}

.btitle{
	margin-top: 18px;
	font-family: 'LINESeedKR-Bd';
	font-size: 20px;
}

.contentBottom{
	text-align: right;
}

.binfo{
	padding-left: 15px; 
}

/*---------------------------------*/
.boardbottom{
	margin : 20px 0px;
	text-align: center;
	border-top: 2px solid #eeeeee;
	padding: 40px 0px; 
}

.pagebtn{
	border: none;
    background-color: transparent;
    font-weight: bold;
    margin: 0px 10px;
}

.keyword{
	border: none;
	background-color: #eeeeee;
	padding : 2px;

}

.searchdiv{
	margin-top : 20px;
}





