@charset "UTF-8";

/* 모달 배경 박스권 */
.modal_wrap{ /* 모달배경구역  */
	position: fixed;	/*위치고정*/
	
	top: 0; 	left: 0; /*시작점을 맨처음부터*/
	
	/*모든 영역 배경*/
	width: 100%; height: 100%; /* 모든화면 감싸기 */
	
	background-color: rgba( 173 , 173 , 173 , 0.5 );
	/* rgb( 0, 0 , 0 ) : 검정색 */
	/* rgba( 0, 0 , 0 , 0.5 ) : 검정색+투명도50% (1은 100%) */
	
	/*자식요소를 중앙배치*/
	display: flex;
	justify-content: center;
	align-items: center; 
	
	/*다른 position css와 겹쳤을 때 우선순위*/
	z-index: 9999; /*겹쳤을때 우선순위 가장높은건9999*/ 
	/*부트스트랩 .sticky-top { z-index : 1020 }*/
	
	/* 버튼에 따른 표시 여부 flex:모달열기 , none:모달닫기 */
	display: none; /* 처음에는 모달 안보이게  */
	
	
}

/* 모달 상자  */
.modal_box{
	background-color: white;
	width: 30%;
	padding: 5%; border-radius: 30px;
} 

/* 모달 버튼 꾸미기 */
.modal_btns button{
	border: none;
	background-color:#8b8b8b;
	color: white;
	padding: 10px;
	border-radius: 10px;
	
}