@charset "UTF-8";

table tr td{
	/* 기본값 : 구역 사이즈보다 내용이 컸을 때 내용이 자동줄바꿈*/
	white-space: nowrap; /* 자동줄바꿈 해제 */
	
	overflow: hidden; 
	/*  내용이 사이즈보다 클 경우 */
	/* hidden : 내용숨기기 */
	/* scroll : 스크롤 생성 */
	
	text-overflow: ellipsis; 
	/* 
	text-overflow:
	텍스트가 구역 사이즈보다 커졋을때 사이즈 설정  
	
	text-overflow: ellipsis; : 넘친 텍스트를 ... 표현
	*/
	
	word-break:break-all; /* 줄바꿈해제 없어도 됨 위에서이미 설정해서  */
	
	max-width: 100px; /* 반응형인경우 최대 사이즈  */
}