@charset "UTF-8";

h3{
	border-left: solid 10px green;
	padding-left: 20px;
	
}

ul{
	border: solid 2px #eeeeee;
	border-radius: 10px;
	padding: 20px;
	width: 500px;
	
}

li{
	margin: 10px;
	align-text: 150%
	
	
}


