@charset "UTF-8";

/*

식별자
.t1 td{  }

.t1 input{  }

.t1 textarea{  }

다음엔 이런식으로

*/


.t1{
	border-top: solid 4px black;
	width:800px;	/*가로길이*/
	margin: 0 auto;	/* box 가운데정렬 */
	
}

.col1{
	border-bottom: solid 1px #eeeeee; /*아랫줄테두리*/
	padding: 10px 0px; /*안쪽여백*/
	font-size: 18px;
}

.input_1{
	width: 600px;
	padding: 20px 0;
	}
	
.input_2{
	width: 600px;
	padding: 70px 0;
	}
	
.space{
	padding: 0 20px 0 0;
	
}

.btn_box{
	text-align: right; /*p,h,input,button,img 등 가로배치 가능*/
		}
	
.btn_box input{
	font-size: 15px;
	padding: 8px 27px;
	font-size:15px;
	margin: 25px 10px 0 0; 
}

